.div{
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 15px;
}
.divButtons{
  display: flex;
  justify-content: space-between;
}
.img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button{
  display: inline;
  background-color: #f00;
  color: #fff;
  border-radius: 3px;
  margin: 5px;
}
.h2name{
  position: absolute;
  font-size: 20px;
  background-color: #666f;
  color: #fff;
  border-radius: 3px;
  padding: 2px;
  margin: -40px 0 0 5px;
  max-width: 250px;
}
.h2{
  width: 50%;
  margin-bottom: 10px;
}
.buttonFav{
  margin: 5px;
  background: #fff;
  border: none;
}