.div{
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 15px;
}
.img{
  display: flex;
  order: -100;
}
.button{
  order: -200;
  margin: 5px 5px 5px 265px;
  background-color: #f00;
  color: #fff;
  border-radius: 3px;
}
.h2name{
  position: absolute;
  font-size: 20px;
  background-color: #666f;
  color: #fff;
  border-radius: 3px;
  padding: 2px;
  margin: 290px 0 0 5px;
}
.h2{
  width: 50%;
  margin-bottom: 10px;
}